.course-nav{
  display: flex;
  justify-content: space-between;
  width: 80vw;
  align-items: center;
 }


.breadcrumb-item {
  text-decoration: none;
  color: #6a6a6a;
  font-weight: bold;
}

.breadcrumb-item:hover {
  text-decoration: underline;
}

.breadcrumb-item.active {
  color: #333;
}