/* Light Theme */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
}

/* Apply Colors Globally */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;

}
